html.body-game, html.body-game body{
  background: #e4f1fe;
}

html.body-game.dead, html.body-game.dead body{
  background-color: #6C7A89;
}

#gameAreaWrapper {
  height: 100%;
  width: 100%;
  display: none;
}

.panel{
  background: white;
  padding: 10px;
}
.game-msg{
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.game-dead{
  position: absolute;
  right: 38%;
  top: 40%
}
.game-dead h2{
  font-size: 40px;
}
.game-dead{
  display: none;
}
html.body-game.dead .game-dead{
  display: block;
}

